body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #101010;
  font-size: 1.3rem;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro {
  text-align: left;
  width: 100%;
  max-width: 37rem;
}

.heading-primary {
  font-weight: 600;
  font-size: 3.25rem;
  margin: 20px 0;
}

.heading-secondary {
  font-weight: normal;
  font-size: 2.5rem;
  margin: 20px 0;
}

.intro p {

  line-height: 1.6;
}
